<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem id="amdec_root" name="AMDEC" sequence="20" web_icon="amdec,static/description/icon.png" />

    <!--Sub menu-->

    <menuitem id="menu" name="AMDEC" sequence="1" parent="amdec_root" />

    <menuitem id="configuration" name="Configuration" sequence="1" parent="amdec_root" />

    <!--Child menu-->

    <menuitem
        id="action_historique"
        name="Action historique"
        action="amdec_action_historique_action_historique_action_window"
        sequence="5"
        parent="menu"
    />

    <menuitem id="amdec" name="Amdec" action="amdec_amdec_amdec_action_window" sequence="1" parent="menu" />

    <menuitem
        id="composante"
        name="Composante"
        action="amdec_composante_composante_action_window"
        sequence="4"
        parent="menu"
    />

    <menuitem id="line" name="Line" action="amdec_line_line_action_window" sequence="2" parent="menu" />

    <menuitem
        id="system"
        name="System"
        action="amdec_system_system_action_window"
        sequence="6"
        parent="configuration"
    />

    <menuitem
        id="panne_type"
        name="Type panne"
        action="amdec_panne_type_panne_type_action_window"
        sequence="7"
        parent="configuration"
    />

    <menuitem
        id="reparation_type"
        name="Type reparation"
        action="amdec_reparation_type_reparation_type_action_window"
        sequence="8"
        parent="configuration"
    />

    <menuitem
        id="configuration_configuration"
        name="Configuration"
        action="amdec_config_settings_action"
        sequence="1"
        parent="configuration"
    />
</odoo>
